<h1> SHOW </h1>

<% @board.each do |b| %>
<li>
  <%= b.name %> <%= b.type %> <%= b.description %>
  <%= link_to 'Edit', edit_board_path(b.id) %>
</li> 
<% end %>








 <%#= link_to "Home", main_path %>
 <%#= link_to 'Make Custom Boards', new_board_path %>