




<div class="text-left">
<h3>Marc Takaki</h3>
<p>
  My name is Marc Takaki, I was born on July 29, 1988 and live in Southern California. I enjoy outdoor extreme sports and hanging out with friends. I began skateboarding and surfing around middle school, and was instantly hooked. I spent most of my time hanging out at the beach or skatepark with friends. Eventually I leaned more towards surfing because I loved how relaxing and challenging it is. 
  <br>
  My father (who was an avid surfer) taught me how to use hand and power tools on basic household repairs starting at a young age. I took that knowledge and began making cruiser skateboard decks and applying custom grip tape designs for myself. I found from making those skateboards that I enjoy crafting things with my hands and seeing them actually work. From then on if I could make something instead of buying it I had to try.  
  <br>
  I try to be as creative as possible and like to put my own flair on the boards, while at the same time keeping them functional and able to perform well. I am also a perfectionist and I do not like to give others boards that I am not one hundred percent satisfied with. I love working with others to craft exactly what they want. My goal is to make the customer happy and  to put a good surfboard under their feet. Having a board custom for your body and ability makes surfing a lot more fun!
  <br>  
  With that being said, I would like to say thank you for showing interest in my boards and for all your support! I hope to work with all of you and make new friends along the way!
  <br>
-Marc Takaki
</p>
</div>