// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image {
  width: 100px;
  height: 100px;
}
td, th, tr {
  border: 2px solid #999;
  padding: 0.5rem;
  text-align: center;
}
input{
   text-align:center;
}

.galleryContainer {
  margin: 0 auto;
}
.galleryContent {
  text-align: center;
  display: inline;
}