@import 'bootstrap';

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");


.carousel-wrapper {
  border-bottom: solid black 20px;
}

.carousel-inner > .item > img{
  width:100%;
}
.carousel-inner {
  max-height: 550px;
}
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 2s;
    }

    .active {
      opacity: 2;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}





body {
  background-image: url("square_bg.png");
 
}

img.navbar-brand {
  height: 53px;
  width: 112px;
  margin-top: -9px;
  padding-top: 0px;
}

#text-left {
  width: 61%;
  text-align: left;
  font-family: 'Homemade Apple', cursive;
  margin-top: -1%;
  
}
.first {
  text-indent: 50px;
}
.second {
  text-indent: 50px;
}
.third {
  text-indent: 50px;
}
.fourth {
  text-indent: 50px;
}

#marcphoto {
  background-image: url("_MG_6889.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 542px;

}

.inside{
  display: inline-block;
  vertical-align: top;
}

.contains {
  margin: 0 auto;
  width: 86%;
  margin-top: 0%;
  margin-bottom: 4%;
}
.container {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
}



















